@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


.address
{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 30%;
    background: linear-gradient(22deg, white, azure);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.pay
{
    width: 80vw;
    height: 100%;
    display: flex; 
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.pay *
{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.pay h2{
    font-size: 20px;
    font-weight: bold;
}

.products
{
    position: fixed;
    width: 20vw;
    top: 100px;
    bottom: 0;
    height: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 30px 0 0 0;
    flex-direction: column;
    align-items: center;
}

.methods
{
    padding: 20px;
    margin: 10px;
    display: flex;
    height: 80px;
    width: 500px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}

.methods label
{
    margin-left: 10px;
}

.info
{
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
    margin: 10px 0 10px 0;
}

.input
{
    height: 80px;
    width: 200px;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

#form-checkout
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.address input[type="text"]
{
    max-width: 400px;
}

@media (max-width: 999px) {
    .address
    {
        max-width: 100%;
    }

    .products
    {
        width: 100%;
        position: sticky;
        bottom: 100%;
    }
    
    .pay
    {
        width: 100vw;
        padding: 10px;
    }

    .address-div
    {
        flex-direction: column;
    }

    .address-body
    {
        overflow-x: hidden;
    }
}