@font-face {
    font-family: Ailerons;
    src: url(/Loja/fonts/Ailerons.otf);
}

@font-face {
    font-family: Lovelyn;
    src: url(/Loja/fonts/Lovelyn.otf);
}

@font-face {
    font-family: Voga;
    src: url(/Loja/fonts/Voga.otf);
}

@font-face {
    font-family: Buffalo;
    src: url(/Loja/fonts/Buffalo.otf);
}

@font-face {
    font-family: Nadall;
    src: url(/Loja/fonts/NADALL.TTF);
}

@font-face {
    font-family: Raleway;
    src: url(/Loja/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Monocraft;
    src: url(/Loja/fonts/Monocraft.otf);
}

@font-face {
    font-family: JetBrains;
    src: url(/Loja/fonts/JetBrains/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: Anzeigen;
    src: url(/Loja/fonts/Anzeigen\ Grotesk\ T.otf);
}

@font-face {
    font-family: Aestetico;
    src: url(/Loja/fonts/Aestetico.otf);
}