header {
  background-color: #01131f;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0;
  margin: 0;
}

.nav-link {
  transition: 0.5s;
  position: relative;
}

.nav-link:hover {
  color: aqua;
  opacity: 0.7;
}

.nav-link::before {
  content: "";
  border: 1px solid white;
  position: absolute;
  width: 0;
  top: -9px;
  opacity: 0;
  transition: 0.7s;
}

.nav-link:hover::before {
  width: 100%;
  opacity: 1;
}

.hamb {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: rgb(240, 240, 240);
  transition: all 0.5s ease-in-out;
}

.dropdown {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.dropdown *
{
  align-self: center;
}

.dropdown p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  text-transform: none;
  font-style: normal;
  padding: 5px;
}

.dropdown ul {
  position: absolute;
  background-color: #01131f;
  display: none;
  width: 100%;
  height: 50px;
  padding: 10px;
  justify-content: center;
  top: 30px;
}

.dropdown:hover ul {
  display: flex;
}

@media screen and (max-width: 999px) {
  .hamb {
    display: block;
  }

  .hamb.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -100%;
    gap: 10px;
    border-radius: 0 0 20px 20px;
    background-color: #01131f;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.8s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    top: 75px;
  }

  .logo img {
    width: 130px;
  }

  nav img {
    width: 50px;
  }
}
