@import url(navbar.css);
@import url(font.css);
@import url(forms.css);
@import url(shop.css);
@import url(cart.css);
@import url(address.css);

*
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #E7E7E7;
}

#index
{
    background-color: #091215;
}

#index .banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#index .banner img
{
    margin: 0;
}

#index .sobre
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#index h1, #index p
{
    font-family: Anzeigen;
    font-size: 80px;
    font-style: italic;
    color: #004aad;
    font-weight: 400;
    line-height: 1.07em;
    max-width: 500px;
    text-transform: uppercase;
}

#index p
{
    font-style: normal;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}

#index .img img
{
    margin-top: 100px;
}

#index .exemplos
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#index .exemplos h1, #index .colecaocompleta h1
{
    max-width: none;
    margin-bottom: 10px;
}

#index .exemplos img
{
    margin: 20px;
}

#index .depoimentos
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#index div
{
    margin: 60px;
}

#index div *
{
    margin: 30px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#index .depoimentos span
{
    background-color: white;
    width: 580px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index .depoimentos span:nth-child(2) p
{
    font-size: 27px;
    margin: 25px;
}

#index .depoimentos
{
    display: flex;
    flex-direction: row;
}

#index .depoimentos span p
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#index .colecaocompleta
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


li
{
    list-style: none;
}

input
{
    cursor: pointer;
}

.contato *{
    font-family: Monocraft;
    color: black;
    line-height: 30px;
}

.message
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background-color: white;
    text-align: center;
    z-index: 0;
    font-family: Raleway;
}

.submitBtn
{
    width: 100%;
    background:linear-gradient(to right,#393e46, #1e727a);
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    color:#eeeeee;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.submitBtn:hover
{
    letter-spacing: 2px;
    opacity: .9;
}

#index footer
{
    margin-bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    justify-content: space-between;
}

#index footer h1
{
    font-family: Aestico;
    color: black;
    font-size: 40px;
    font-style: normal;
}

#index footer p
{
    color: black;
    font-family: Aestico;
    font-size: 22px;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#index footer div:nth-child(1) p
{
    font-size: 20px;
}


#index footer div
{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
}

.title
{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.title h2{
    display: flex;
    font-family: Raleway;
    font-weight: lighter;
    justify-content: center;
    font-size: 35px;
    position: relative;
}

.title h2::before
{
    content: '';
    border: 1px solid black;
    width: 50%;
    top: 50px;
    transition: .5s;
    position: absolute;
}

.title h2:hover::before
{
    width: 100%;
}

.new-center
{
    display: flex;
    justify-content: center;
}

.new-title
{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arg-camisa
{
    display: flex;
    justify-content: center;
}

.camisa
{
    width: 270px;
    background-color: rgba(172, 172, 172, 0.705);
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}

.arg *
{
    margin: 5px;
    font-family: Raleway;
}

.arg h1
{
    font-size: 20px;
    max-width: 150px;
}

.arg h2
{
    float: right;
}

.camisa a{
    color: black;
}

h2 small
{
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.arg img
{
    width: 250px;
    height: 250px;
}

.arg p
{
    font-size: 17px;
    color: black;
    font-style: normal;
}

.precos
{
    line-height: 20px;
}

.contato p{
    font-size: 20px;
    text-transform: none;
}




@media (max-width: 999px) {
    #index img
    {
        width: 100%;
        margin: 0;
        margin-top: 0;
    }

    #index .img
    {
        margin: 0;
    }

    #index .sobre
    {
        padding: 0;
        margin: auto 0;
    }

    #index .sobre, footer, .depoimentos
    {
        flex-direction: column;
    }

    #index .depoimentos span
    {
        font-size: 20px;
        margin: 10px;
        width: 100%;
        height: 250px;
    }

    #index .depoimentos span:nth-child(1) *
    {
        font-size: 28px;
    }
    #index div{
        margin: 20px;
    }
    
    #index footer
    {
        margin: 10px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    #index footer p
    {
        margin: 0;
    }

    #index footer div
    {
        margin: 5px;
        margin-bottom: 0;
    }

    #index
    {
        overflow-x: hidden;
    }

}
