header, .navbar-brand, .links, .login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #01131f;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}

.nav {
    width: 100%;
    position: relative;
}

.links {
    width: 100%;
}

.login {
    position: absolute;
    margin-left: 80%;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.nav a {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.nav a:hover {
    transition: 0.3s;
    color: aqua;
    opacity: 0.7;
    background-color: #01070f;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: scale(105%, 105%);
}

.nav a:focus {
    color: rgb(3, 127, 131);
}

.fixed-top {
    margin-top: 10px;
}

#icon {
    position: absolute;
    margin-left: 95%;
}

@media screen and (max-width: 765px) {
    .links,
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: inherit;
        margin: 0;
    }

    .links *,
    .login * {
        margin: 10px 0 10px 0;
    }
}
