@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons.otf);
}

@font-face {
    font-family: Lovelyn;
    src: url(../fonts/Lovelyn.otf);
}

@font-face {
    font-family: Voga;
    src: url(../fonts/Voga.otf);
}

@font-face {
    font-family: Buffalo;
    src: url(../fonts/Buffalo.otf);
}

@font-face {
    font-family: Nadall;
    src: url(../fonts/NADALL.TTF);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Monocraft;
    src: url(../fonts/Monocraft.otf);
}

@font-face {
    font-family: JetBrains;
    src: url(../fonts/JetBrains/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: Anzeigen;
    src: url(../fonts/Anzeigen\ Grotesk\ T.otf);
}

@font-face {
    font-family: Aestetico;
    src: url(../fonts/Aestetico.otf);
}