@import url(style.css);

.produto-back
{
    overflow: hidden;
}

.produto
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf
{
    height: 400px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.inf p
{
    font-size: 22px;
    font-family: Raleway;
    line-height: 220%;
    color: black;
    font-style: normal;
}

.produto img
{
    width: 400px;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 50px;
}

.nav-pages *
{
    display: inline-block;
    color: black;
}

.nav-pages
{
    margin: 20px;
    margin-left: 50px;
}

.nav-pages a::after
{
    content: '/';
    padding: 5px;
}

.precog
{
    padding: 20px;
    padding-top: 30px;
    position: relative;
    margin-left: -20px;
}

.precog::before, .precog::after
{
    content: '';
    border: 1px solid gray;
    position: absolute;
    width: 40vw;
    top: 10px;
}

.precog::after
{
    top: 130px;
    left: 18px;
}

.precog *
{
    display: inline;
    padding: 5px;
}

h3
{
    font-size: 35px;
    font-weight: lighter;
    color: #394e77;
    font-family: Raleway;
}

h3 del, h3 small
{
    font-size: 20px;
    font-family: Raleway;
    color: gray
}

.precopromo small
{
    color: red;
}

.marca
{
    font-size: 25px;
    font-family: Nadall;
}

.produto-back .title h2
{
    font-size: 50px;
}

.produto-back .title
{
    padding: 20px;
}

.produto-back .title h2::before
{
    top: 70px;
    width: 20%;
    border-color: rgb(0, 0, 100);
}

.produto-back .title h2:hover::before
{
    width: 100%;
}

.mobile
{
    display: none;
}

.car-quant
{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 999px) {

    .produto-back .title h2::before
    {
        top: 140px;
    }

    .produto
    {
        display: inline-block;
    }

    .produto img
    {
        margin-right: 0;
    }

    .precog::before, .precog::after
    {
        width: 80vw;
    }

    .pc{
        display: none;
    }

    .mobile
    {
        display: inline-block;
        align-items: center;
        width: 50vh;
    }

    .mobile-img img
    {
        width: 300px;
    }

    .nav-pages
    {
        margin-left: 2vh;
    }

    .precog::after
    {
        top: 130px;
        left: 40px;
    }
}